# *PANDAS IN PYTHON*

Pandas is a Python library that provides data structures and functions for efficiently manipulating and analyzing data, particularly tabular data and time series. It is built on top of NumPy and is widely used in data science, machine learning, and other fields that require data analysis.
The data produced by Pandas is often used as input for plotting functions in Matplotlib, statistical analysis in SciPy, and machine learning algorithms in Scikit-learn.
- **Pandas offers two primary data structures:**
    - Series: A one-dimensional labeled array capable of holding data of any data type(integer, string, float, Python objects, etc.). The axis labels are collectively called     indexes. (1 column data.)
    - DataFrame: A two-dimensional table-like structure with columns of potentially different data types. Pandas Series is created by loading the datasets from existing storage (which can be a SQL database, a CSV file, or an Excel file).
    Pandas Series can be created from lists, dictionaries, scalar values, etc. (multiple columns data)

- **Key Features of Pandas:**

    - Data Handling: Pandas allows you to read and write data in various formats, such as CSV, Excel, SQL, and JSON.
    - Data Cleaning: You can handle missing data, duplicate entries, and perform transformations efficiently.
    - Data Transformation: Reshaping, pivoting, merging, and joining data.
    - Data Analysis: Pandas offers various functions for aggregating, grouping data, and applying functions.
    - Indexing and Selection: You can easily select, filter, and slice data using labels or conditions.
    - Time Series: Pandas has powerful tools for handling time series data, including date-time indexing and frequency handling.

- **Common Operations in Pandas:**
    - Creating DataFrames and Series: You can create DataFrames from dictionaries, lists, or NumPy arrays.
    - Reading and Writing Data: Functions like pd.read_csv(), pd.read_excel(), and pd.to_sql() are used to read and write data in various formats.
    - Handling Missing Data: Functions like fillna(), dropna(), and isna() help handle missing values.
    - Grouping and Aggregating: Use groupby() for grouping data and functions like mean(), sum(), and count() for aggregation.

In [1]:
import pandas as pd
data = [1,2,3,4] #simple list

print(data)

series = pd.Series(data)

print(series)

[1, 2, 3, 4]
0    1
1    2
2    3
3    4
dtype: int64

In [2]:
type(series)

pandas.core.series.Series

In [3]:
#How to change the index name
List = pd.Series([1,2,3,4],index=['a','b','c','d'])
List

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
l= ['a','b','c','d']
i = [1,2,3,4]
List = pd.Series(l,i)
List

1    a
2    b
3    c
4    d
dtype: object

# DATA FRAME
Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.
- **Key Characteristics of a DataFrame:**
    1. Rows and Columns: It has labeled rows (index) and columns, making it easy to access and manipulate data.

    2. Heterogeneous Data: Each column can contain data of a different type (e.g., numerical, categorical, or textual).

    3. Indexing: Rows and columns can be accessed using labels (names) or numerical positions.

    4. Built-in Functions: It provides numerous functions to clean, filter, aggregate, and analyze data.

In [5]:
#Creating Data Frame Using a List:

import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)

df

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
#Creating a DataFrame using Series

series = pd.Series([4,5], index = ["a", "b"])
print(series)
print(type(series))
df = pd.DataFrame(series)

print(df)
print(type(df))

a    4
b    5
dtype: int64
<class 'pandas.core.series.Series'>
   0
a  4
b  5
<class 'pandas.core.frame.DataFrame'>

In [8]:
#Creating a DataFrame using NumPy Array:
import numpy as np
import pandas as pd

array =np.array([[5000, 6000 ], ["John", "James"]])
print(array)
df= pd.DataFrame({"Name": array[1], "Salary":array[0]})
print(df)

[['5000' '6000']
 ['John' 'James']]
    Name Salary
0   John   5000
1  James   6000

In [9]:
df = pd.DataFrame(np.random.randint(0,10,(3,3)),columns=['x1','x2','x3'])

In [10]:
df

   x1  x2  x3
0   6   3   7
1   3   4   2
2   7   2   9

# Join and Concatenation in Pandas
- Both join and concatenation are commonly used operations in Pandas for combining datasets.
- Let’s explore them with simple examples.

1. **Concatenation in Pandas** :
    Concatenation is used to combine two or more DataFrames along a particular axis (either rows or columns).

In [11]:
#Example 1: Concatenation Along Rows (Axis 0)

import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
})

print(df1)

df2 = pd.DataFrame({
    'A': ['A3', 'A4', 'A5'],
    'B': ['B3', 'B4', 'B5']
})

print(df2)

# Concatenate DataFrames along rows
result = pd.concat([df1, df2])

print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
    A   B
0  A3  B3
1  A4  B4
2  A5  B5
    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [12]:
#Example 2: Concatenation Along Columns (Axis 1)

# Concatenate DataFrames along columns
result = pd.concat([df1, df2], axis=1)

print(result)

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

- To get the result with continued indexing when concatenating DataFrames in Pandas, you can use the ignore_index=True parameter.
- This parameter resets the index in the resulting DataFrame, so the indexing starts from 0 and increments continuously.
- ignore_index=True: This parameter resets the index in the resulting DataFrame, so instead of maintaining the original indices (which could repeat), a new index is generated, starting from 0 and continuing sequentially.
- This way, you get a clean, continuous index for your concatenated DataFrame.

- Here’s how you can achieve that:

In [13]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
})

df2 = pd.DataFrame({
    'A': ['A3', 'A4', 'A5'],
    'B': ['B3', 'B4', 'B5']
})

# Concatenate DataFrames and reset index
result = pd.concat([df1, df2], ignore_index=True)

print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5

# Difference Between join and merge in Pandas
- merge: Combines DataFrames based on keys(columns)/Values(Rows), similar to SQL joins. It offers flexibility with joining on multiple keys.

- join: Primarily used for combining DataFrames on the index. It’s more convenient when you want to join by the index rather than by column.

# 1.Inner Merge:

Explanation: Returns only the rows where the key exists in both DataFrames.

In [14]:
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'value': [1, 2, 3, 4]
})
print(df1)
df2 = pd.DataFrame({
    'key': ['B', 'D', 'E', 'F'],
    'value': [5, 6, 7, 8]
})

print(df2)

result = pd.merge(df1, df2, on='key', how='inner')
print(result)

  key  value
0   A      1
1   B      2
2   C      3
3   D      4
  key  value
0   B      5
1   D      6
2   E      7
3   F      8
  key  value_x  value_y
0   B        2        5
1   D        4        6

In [15]:
import pandas as pd

# DataFrame 1
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [23, 34, 25, 40]
})

# DataFrame 2
df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'Department': ['HR', 'Finance', 'IT', 'Marketing'],
    'Salary': [50000, 60000, 55000, 70000]
})

# Perform Inner Join
result = df1.merge(df2, on='ID', how='inner')

print(result)
print('-'*50)
result1=pd.merge(df1,df2, on='ID', how='inner')
print(result1)

   ID     Name  Age Department  Salary
0   3  Charlie   25         HR   50000
1   4    David   40    Finance   60000
--------------------------------------------------
   ID     Name  Age Department  Salary
0   3  Charlie   25         HR   50000
1   4    David   40    Finance   60000

# 2.Left Merge :

- Explanation: Returns all rows from the left DataFrame, and matching rows from the right DataFrame. If no match, NaN is returned.
- Explanation: All rows from df1 are included, and matching rows from df2 fill the value_y column. If there’s no match, NaN is filled.

In [16]:
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'value': [1, 2, 3, 4]
})
print(df1)
df2 = pd.DataFrame({
    'key': ['B', 'D', 'E', 'F'],
    'value': [5, 6, 7, 8]
})

print(df2)

result = pd.merge(df1, df2, on='key', how='left')
print(result)

  key  value
0   A      1
1   B      2
2   C      3
3   D      4
  key  value
0   B      5
1   D      6
2   E      7
3   F      8
  key  value_x  value_y
0   A        1      NaN
1   B        2      5.0
2   C        3      NaN
3   D        4      6.0

# 3. Right Merge:

- Explanation: Returns all rows from the right DataFrame, and matching rows from the left DataFrame.

- Explanation: All rows from df2 are included, with matching rows from df1. Missing matches are filled with NaN.

In [17]:
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'value': [1, 2, 3, 4]
})
print(df1)
df2 = pd.DataFrame({
    'key': ['B', 'D', 'E', 'F'],
    'value': [5, 6, 7, 8]
})

print(df2)

result = pd.merge(df1, df2, on='key', how='right')
print(result)

  key  value
0   A      1
1   B      2
2   C      3
3   D      4
  key  value
0   B      5
1   D      6
2   E      7
3   F      8
  key  value_x  value_y
0   B      2.0        5
1   D      4.0        6
2   E      NaN        7
3   F      NaN        8

# 4. Outer Merge:

- Explanation: Returns all rows when there is a match in either left or right DataFrame. Rows with no match in either DataFrame get NaN.
- Explanation: Combines all keys from both DataFrames, filling in missing values with NaN.

In [18]:
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'value': [1, 2, 3, 4]
})
print(df1)
df2 = pd.DataFrame({
    'key': ['B', 'D', 'E', 'F'],
    'value': [5, 6, 7, 8]
})

print(df2)

result = pd.merge(df1, df2, on='key', how='outer')
print(result)

  key  value
0   A      1
1   B      2
2   C      3
3   D      4
  key  value
0   B      5
1   D      6
2   E      7
3   F      8
  key  value_x  value_y
0   A      1.0      NaN
1   B      2.0      5.0
2   C      3.0      NaN
3   D      4.0      6.0
4   E      NaN      7.0
5   F      NaN      8.0

In [19]:
import pandas as pd

# DataFrame 1
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [23, 34, 25, 40]
})

# DataFrame 2
df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'Department': ['HR', 'Finance', 'IT', 'Marketing'],
    'Salary': [50000, 60000, 55000, 70000]
})

# Set ID as the index
df1.set_index('ID', inplace=True)
df2.set_index('ID', inplace=True)

print(df1)

print(df2)

       Name  Age
ID
1     Alice   23
2       Bob   34
3   Charlie   25
4     David   40
   Department  Salary
ID
3          HR   50000
4     Finance   60000
5          IT   55000
6   Marketing   70000

In [20]:
result = df1.join(df2, how='inner')
print("\nResult of join:\n",result)

Result of join:
        Name  Age Department  Salary
ID
3   Charlie   25         HR   50000
4     David   40    Finance   60000

In [21]:
result = df1.join(df2, how='right')
print("\nResult of join:\n",result)

Result of join:
        Name   Age Department  Salary
ID
3   Charlie  25.0         HR   50000
4     David  40.0    Finance   60000
5       NaN   NaN         IT   55000
6       NaN   NaN  Marketing   70000

In [22]:
result = df1.join(df2, how='left')
print("\nResult of join:\n",result)

Result of join:
        Name  Age Department   Salary
ID
1     Alice   23        NaN      NaN
2       Bob   34        NaN      NaN
3   Charlie   25         HR  50000.0
4     David   40    Finance  60000.0

In [23]:
result = df1.join(df2, how='outer')
print("\nResult of join:\n",result)

Result of join:
        Name   Age Department   Salary
ID
1     Alice  23.0        NaN      NaN
2       Bob  34.0        NaN      NaN
3   Charlie  25.0         HR  50000.0
4     David  40.0    Finance  60000.0
5       NaN   NaN         IT  55000.0
6       NaN   NaN  Marketing  70000.0

# Differences
  1. merge:

        Requires an on parameter to specify the key column.
        The ID column is included as a regular column.
        The output is more suitable when you want to explicitly show the joining key as a column.
  2. join:

        Uses the index as the key by default, so you don't need to specify the on parameter.
        The ID column is set as the index.
        The output is more suitable when you want to perform a join based on the index and don't need the key as a separate column.
        Conclusion
        Both merge and join can be used for inner joins, but merge is more versatile when you need to join on specific columns that are not indices. join, on the other hand, is simpler when working with DataFrames where the keys are already set as indices.

# Dataset Import

In [24]:
import pandas as pd

# Make sure the path to your file is correct
file_path = 'C:/Users/pattn/Downloads/mtcars2.csv'

#Jupyter_Notebook= 'C:/Users/chand/Downloads/mtcars2.csv'

# Read dataset and store it into a DataFrame
cars = pd.read_csv(file_path)   #cars=pd.read_csv('C:\\Users\\Admin\\Downloads\\mtcars2.csv')

# Print the DataFrame
print(cars)

             Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4           Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
5     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
6               Valiant  18.1    6  225.0  105  2.76  3.460  17.02   1   0
7            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
8             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
9              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
10             Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
11            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
12           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
13   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
14           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
15          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
16          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
17   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
18  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
19    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
20             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
21          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
22       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
23        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
24          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
25     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
26          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
27           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
28     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
29            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  17.05   1   1
30        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
31         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
32       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
33         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
34        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
35           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1
36          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
37   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
38  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
39    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
40             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
41          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
42       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
43        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     3
5      3     2
6      3     1
7      3     4
8      4     2
9      4     2
10     4     4
11     4     4
12     3     3
13     3     4
14     3     3
15     3     3
16     3     2
17     3     4
18     3     4
19     3     4
20     4     1
21     4     2
22     4     1
23     3     1
24     3     2
25     3     2
26     3     2
27     3     4
28     3     2
29     4     1
30     5     2
31     5     2
32     5     4
33     5     6
34     5     8
35     4     2
36     3     2
37     3     4
38     3     4
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1

# Analysis

In [25]:
# check the type
type(cars)

pandas.core.frame.DataFrame

In [26]:
#view only the first five records
cars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3

In [27]:
#view only the first ten records
cars.head(10)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2

In [28]:
#view only the last five records
cars.tail()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

In [30]:
#view only the last ten records
cars.tail(10)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

In [31]:
#view number of rows and columns in the dataframe
cars.shape

(44, 12)

In [32]:
#print a concise summary of the columns
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  44 non-null     object
 1   mpg         44 non-null     float64
 2   cyl         44 non-null     int64
 3   disp        44 non-null     float64
 4   hp          44 non-null     int64
 5   drat        44 non-null     float64
 6   wt          44 non-null     float64
 7   qsec        44 non-null     float64
 8   vs          44 non-null     int64
 9   am          44 non-null     int64
 10  gear        44 non-null     int64
 11  carb        44 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 4.3+ KB

In [33]:
#mean
mean_values = cars.mean(numeric_only=True)
print(mean_values)

mpg      19.722727
cyl       6.318182
disp    244.556818
hp      146.795455
drat      3.559773
wt        3.327750
qsec     17.750227
vs        0.409091
am        0.363636
gear      3.568182
carb      2.727273
dtype: float64

In [34]:
#median
median_values = cars.median(numeric_only=True)
print(median_values)

mpg      18.400
cyl       7.000
disp    266.900
hp      150.000
drat      3.580
wt        3.435
qsec     17.420
vs        0.000
am        0.000
gear      3.000
carb      2.000
dtype: float64

In [35]:
#standard deviation
std_values = cars.std(numeric_only=True)
std_values

mpg       6.780679
cyl       1.827092
disp    134.989997
hp       66.454244
drat      0.559657
wt        1.113763
qsec      1.535409
vs        0.497350
am        0.486607
gear      0.695424
carb      1.515250
dtype: float64

In [36]:
#maximum of each attribute
cars.max(numeric_only=True)
#cars.max()

mpg      33.900
cyl       8.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec     22.900
vs        1.000
am        1.000
gear      5.000
carb      8.000
dtype: float64

In [37]:
#minimum of each attribute
cars.min()

Unnamed: 0    AMC Javelin
mpg                  10.4
cyl                     4
disp                 71.1
hp                     52
drat                 2.76
wt                  1.513
qsec                 14.5
vs                      0
am                      0
gear                    3
carb                    1
dtype: object

In [38]:
#number of non-null records in each column
cars.count()

Unnamed: 0    44
mpg           44
cyl           44
disp          44
hp            44
drat          44
wt            44
qsec          44
vs            44
am            44
gear          44
carb          44
dtype: int64

In [39]:
#descriptive statistics summary
cars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
mean,19.722727,6.318182,244.556818,146.795455,3.559773,3.327750,17.750227,0.409091,0.363636,3.568182,2.727273
std,6.780679,1.827092,134.989997,66.454244,0.559657,1.113763,1.535409,0.497350,0.486607,0.695424,1.515250
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.000000
25%,15.200000,4.000000,120.250000,96.500000,3.077500,2.465000,17.020000,0.000000,0.000000,3.000000,2.000000
50%,18.400000,7.000000,266.900000,150.000000,3.580000,3.435000,17.420000,0.000000,0.000000,3.000000,2.000000
75%,22.800000,8.000000,350.250000,186.250000,3.920000,3.780000,18.520000,1.000000,1.000000,4.000000,4.000000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.000000

In [40]:
print(cars)

             Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4           Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
5     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
6               Valiant  18.1    6  225.0  105  2.76  3.460  17.02   1   0
7            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
8             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
9              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
10             Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
11            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
12           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
13   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
14           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
15          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
16          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
17   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
18  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
19    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
20             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
21          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
22       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
23        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
24          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
25     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
26          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
27           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
28     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
29            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  17.05   1   1
30        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
31         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
32       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
33         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
34        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
35           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1
36          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
37   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
38  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
39    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
40             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
41          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
42       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
43        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     3
5      3     2
6      3     1
7      3     4
8      4     2
9      4     2
10     4     4
11     4     4
12     3     3
13     3     4
14     3     3
15     3     3
16     3     2
17     3     4
18     3     4
19     3     4
20     4     1
21     4     2
22     4     1
23     3     1
24     3     2
25     3     2
26     3     2
27     3     4
28     3     2
29     4     1
30     5     2
31     5     2
32     5     4
33     5     6
34     5     8
35     4     2
36     3     2
37     3     4
38     3     4
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1

# Cleaning

After analysing we have realized that our dataset is not perfect, some column names are irrelevant, there are a few missing data, some column has important data but cant perform some operation because they are of string type. So now with the help of PAndas we will be cleaning or in other words we will be making our data perfect to perform further operations.

In [41]:
#rename column
cars=cars.rename(columns={'Unnamed: 0':'model'})
print(cars)

                  model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4           Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
5     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
6               Valiant  18.1    6  225.0  105  2.76  3.460  17.02   1   0
7            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
8             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
9              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
10             Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
11            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
12           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
13   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
14           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
15          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
16          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
17   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
18  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
19    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
20             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
21          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
22       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
23        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
24          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
25     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
26          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
27           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
28     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
29            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  17.05   1   1
30        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
31         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
32       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
33         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
34        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
35           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1
36          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
37   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
38  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
39    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
40             Fiat 128  32.4    4   78.7   66  4.08  2.200  17.42   1   1
41          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
42       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
43        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     3
5      3     2
6      3     1
7      3     4
8      4     2
9      4     2
10     4     4
11     4     4
12     3     3
13     3     4
14     3     3
15     3     3
16     3     2
17     3     4
18     3     4
19     3     4
20     4     1
21     4     2
22     4     1
23     3     1
24     3     2
25     3     2
26     3     2
27     3     4
28     3     2
29     4     1
30     5     2
31     5     2
32     5     4
33     5     6
34     5     8
35     4     2
36     3     2
37     3     4
38     3     4
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1

In [42]:
cars=cars.rename(columns={'wt':'weight'})
print(cars)

                  model   mpg  cyl   disp   hp  drat  weight   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90   2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90   2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85   2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08   3.215  19.44   1   0
4           Merc 450SLC  15.2    8  275.8  180  3.07   3.780  18.00   0   0
5     Hornet Sportabout  18.7    8  360.0  175  3.15   3.440  17.02   0   0
6               Valiant  18.1    6  225.0  105  2.76   3.460  17.02   1   0
7            Duster 360  14.3    8  360.0  245  3.21   3.570  15.84   0   0
8             Merc 240D  24.4    4  146.7   62  3.69   3.190  20.00   1   0
9              Merc 230  22.8    4  140.8   95  3.92   3.150  22.90   1   0
10             Merc 280  19.2    6  167.6  123  3.92   3.440  18.30   1   0
11            Merc 280C  17.8    6  167.6  123  3.92   3.440  18.90   1   0
12           Merc 450SE  16.4    8  275.8  180  3.07   4.070  17.40   0   0
13   Cadillac Fleetwood  10.4    8  472.0  205  2.93   5.250  17.98   0   0
14           Merc 450SL  17.3    8  275.8  180  3.07   3.730  17.60   0   0
15          Merc 450SLC  15.2    8  275.8  180  3.07   3.780  18.00   0   0
16          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
17   Cadillac Fleetwood  10.4    8  472.0  205  2.93   5.250  17.98   0   0
18  Lincoln Continental  10.4    8  460.0  215  3.00   5.424  17.82   0   0
19    Chrysler Imperial  14.7    8  440.0  230  3.23   5.345  17.42   0   0
20             Fiat 128  32.4    4   78.7   66  4.08   2.200  17.42   1   1
21          Honda Civic  30.4    4   75.7   52  4.93   1.615  18.52   1   1
22       Toyota Corolla  33.9    4   71.1   65  4.22   1.835  19.90   1   1
23        Toyota Corona  21.5    4  120.1   97  3.70   2.465  20.01   1   0
24          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
25     Dodge Challenger  15.5    8  318.0  150  2.76   3.520  16.87   0   0
26          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
27           Camaro Z28  13.3    8  350.0  245  3.73   3.840  15.41   0   0
28     Pontiac Firebird  19.2    8  400.0  175  3.08   3.845  17.05   0   0
29            Fiat X1-9  27.3    4   79.0   66  4.08   1.935  17.05   1   1
30        Porsche 914-2  26.0    4  120.3   91  4.43   2.140  16.70   0   1
31         Lotus Europa  30.4    4   95.1  113  3.77   1.513  16.90   1   1
32       Ford Pantera L  15.8    8  351.0  264  4.22   3.170  14.50   0   1
33         Ferrari Dino  19.7    6  145.0  175  3.62   2.770  15.50   0   1
34        Maserati Bora  15.0    8  301.0  335  3.54   3.570  14.60   0   1
35           Volvo 142E  21.4    4  121.0  109  4.11   2.780  18.60   1   1
36          AMC Javelin  15.2    8  304.0  150  3.15   3.435  17.30   0   0
37   Cadillac Fleetwood  10.4    8  472.0  205  2.93   5.250  17.98   0   0
38  Lincoln Continental  10.4    8  460.0  215  3.00   5.424  17.82   0   0
39    Chrysler Imperial  14.7    8  440.0  230  3.23   5.345  17.42   0   0
40             Fiat 128  32.4    4   78.7   66  4.08   2.200  17.42   1   1
41          Honda Civic  30.4    4   75.7   52  4.93   1.615  18.52   1   1
42       Toyota Corolla  33.9    4   71.1   65  4.22   1.835  19.90   1   1
43        Toyota Corona  21.5    4  120.1   97  3.70   2.465  20.01   1   0

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     3
5      3     2
6      3     1
7      3     4
8      4     2
9      4     2
10     4     4
11     4     4
12     3     3
13     3     4
14     3     3
15     3     3
16     3     2
17     3     4
18     3     4
19     3     4
20     4     1
21     4     2
22     4     1
23     3     1
24     3     2
25     3     2
26     3     2
27     3     4
28     3     2
29     4     1
30     5     2
31     5     2
32     5     4
33     5     6
34     5     8
35     4     2
36     3     2
37     3     4
38     3     4
39     3     4
40     4     1
41     4     2
42     4     1
43     3     1

In [44]:
#Fill the null values with mean of the column
cars.qsec=cars.qsec.fillna(cars.qsec.mean())   #cars.qsec.mean =17.674828
cars
# as there is no null value in qsec therefore no changes occured

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

In [51]:
import pandas as pd
samplesuperstore =pd.read_excel("E:\PythonJupyterFiles\Sample - Superstore.xls")
print(samplesuperstore)

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\pattn\AppData\Local\Temp\ipykernel_19452\3785140800.py:2: SyntaxWarning: invalid escape sequence '\P'
  samplesuperstore =pd.read_excel("E:\PythonJupyterFiles\Sample - Superstore.xls")

      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]

In [53]:
#drop unwanted column
samplesuperstore = samplesuperstore.drop(columns=['Row ID'])
samplesuperstore

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [54]:
#Drop unwanted Row

samplesuperstore = samplesuperstore.drop(index=2)
samplesuperstore

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

# Manipulation
Sometimes we don't need the whole dataset for analysis and cut them in small chunks, sometimes we need to arrange them in an certain order(ascending or descending), sometimes we may need to set a certain value to a column or apply a function to a column, sometmes we may also need to apply filters to our dataset---all of these comes under Pandas Data Manipulation.

# Indexing by position

In [55]:
#view hp column only
print(cars.iloc[ : ,4])   #[ :  (Rows), 4(Columns)]

0     110
1     110
2      93
3     110
4     180
5     175
6     105
7     245
8      62
9      95
10    123
11    123
12    180
13    205
14    180
15    180
16    150
17    205
18    215
19    230
20     66
21     52
22     65
23     97
24    150
25    150
26    150
27    245
28    175
29     66
30     91
31    113
32    264
33    175
34    335
35    109
36    150
37    205
38    215
39    230
40     66
41     52
42     65
43     97
Name: hp, dtype: int64

In [56]:
#first five records of hp column
cars.iloc[ 0:5,4]   #5-1=4th index

0    110
1    110
2     93
3    110
4    180
Name: hp, dtype: int64

In [57]:
#all rows, all columns
cars.iloc[ : , : ]  #[ : , : ]

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,0,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

In [60]:
#for attributes from hp to carb see all the records from index 6
cars.iloc[6:,4:]

     hp  drat  weight   qsec  vs  am  gear  carb
6   105  2.76   3.460  17.02   1   0     3     1
7   245  3.21   3.570  15.84   0   0     3     4
8    62  3.69   3.190  20.00   1   0     4     2
9    95  3.92   3.150  22.90   1   0     4     2
10  123  3.92   3.440  18.30   1   0     4     4
11  123  3.92   3.440  18.90   1   0     4     4
12  180  3.07   4.070  17.40   0   0     3     3
13  205  2.93   5.250  17.98   0   0     3     4
14  180  3.07   3.730  17.60   0   0     3     3
15  180  3.07   3.780  18.00   0   0     3     3
16  150  3.15   3.435  17.30   0   0     3     2
17  205  2.93   5.250  17.98   0   0     3     4
18  215  3.00   5.424  17.82   0   0     3     4
19  230  3.23   5.345  17.42   0   0     3     4
20   66  4.08   2.200  17.42   1   1     4     1
21   52  4.93   1.615  18.52   1   1     4     2
22   65  4.22   1.835  19.90   1   1     4     1
23   97  3.70   2.465  20.01   1   0     3     1
24  150  3.15   3.435  17.30   0   0     3     2
25  150  2.76   3.520  16.87   0   0     3     2
26  150  3.15   3.435  17.30   0   0     3     2
27  245  3.73   3.840  15.41   0   0     3     4
28  175  3.08   3.845  17.05   0   0     3     2
29   66  4.08   1.935  17.05   1   1     4     1
30   91  4.43   2.140  16.70   0   1     5     2
31  113  3.77   1.513  16.90   1   1     5     2
32  264  4.22   3.170  14.50   0   1     5     4
33  175  3.62   2.770  15.50   0   1     5     6
34  335  3.54   3.570  14.60   0   1     5     8
35  109  4.11   2.780  18.60   1   1     4     2
36  150  3.15   3.435  17.30   0   0     3     2
37  205  2.93   5.250  17.98   0   0     3     4
38  215  3.00   5.424  17.82   0   0     3     4
39  230  3.23   5.345  17.42   0   0     3     4
40   66  4.08   2.200  17.42   1   1     4     1
41   52  4.93   1.615  18.52   1   1     4     2
42   65  4.22   1.835  19.90   1   1     4     1
43   97  3.70   2.465  20.01   1   0     3     1

In [61]:
#View attributes from drat to vs and records from 2nd index to 10th index
cars.iloc[2:11,5:9]

    drat  weight   qsec  vs
2   3.85   2.320  18.61   1
3   3.08   3.215  19.44   1
4   3.07   3.780  18.00   0
5   3.15   3.440  17.02   0
6   2.76   3.460  17.02   1
7   3.21   3.570  15.84   0
8   3.69   3.190  20.00   1
9   3.92   3.150  22.90   1
10  3.92   3.440  18.30   1

In [62]:
#Now we want to look at all the rows and only the first column
cars.iloc[:,0]

0               Mazda RX4
1           Mazda RX4 Wag
2              Datsun 710
3          Hornet 4 Drive
4             Merc 450SLC
5       Hornet Sportabout
6                 Valiant
7              Duster 360
8               Merc 240D
9                Merc 230
10               Merc 280
11              Merc 280C
12             Merc 450SE
13     Cadillac Fleetwood
14             Merc 450SL
15            Merc 450SLC
16            AMC Javelin
17     Cadillac Fleetwood
18    Lincoln Continental
19      Chrysler Imperial
20               Fiat 128
21            Honda Civic
22         Toyota Corolla
23          Toyota Corona
24            AMC Javelin
25       Dodge Challenger
26            AMC Javelin
27             Camaro Z28
28       Pontiac Firebird
29              Fiat X1-9
30          Porsche 914-2
31           Lotus Europa
32         Ford Pantera L
33           Ferrari Dino
34          Maserati Bora
35             Volvo 142E
36            AMC Javelin
37     Cadillac Fleetwood
38    Lincoln Continental
39      Chrysler Imperial
40               Fiat 128
41            Honda Civic
42         Toyota Corolla
43          Toyota Corona
Name: model, dtype: object

# Indexing by label

In [63]:
#see all the record of mpg column
cars.loc[:,"mpg"]

0     21.0
1     21.0
2     22.8
3     21.4
4     15.2
5     18.7
6     18.1
7     14.3
8     24.4
9     22.8
10    19.2
11    17.8
12    16.4
13    10.4
14    17.3
15    15.2
16    15.2
17    10.4
18    10.4
19    14.7
20    32.4
21    30.4
22    33.9
23    21.5
24    15.2
25    15.5
26    15.2
27    13.3
28    19.2
29    27.3
30    26.0
31    30.4
32    15.8
33    19.7
34    15.0
35    21.4
36    15.2
37    10.4
38    10.4
39    14.7
40    32.4
41    30.4
42    33.9
43    21.5
Name: mpg, dtype: float64

In [ ]:
#display the records from index 0 to index 6 from mpg column
cars.loc[0:6,"mpg"]

In [64]:
#see the first 7 records from mpg to qsec column
cars.loc[0:6,"mpg":"qsec"]

    mpg  cyl   disp   hp  drat  weight   qsec
0  21.0    6  160.0  110  3.90   2.620  16.46
1  21.0    6  160.0  110  3.90   2.875  17.02
2  22.8    4  108.0   93  3.85   2.320  18.61
3  21.4    6  258.0  110  3.08   3.215  19.44
4  15.2    8  275.8  180  3.07   3.780  18.00
5  18.7    8  360.0  175  3.15   3.440  17.02
6  18.1    6  225.0  105  2.76   3.460  17.02

In [65]:
#set value 1 to column 'am'   automated = 0 , manual =1
cars['am'] = 1
cars

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,1,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,1,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,1,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,1,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,1,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,1,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,1,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,1,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,1,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,1,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,1,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,1,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,1,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,1,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,1,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,1,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,1,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,1,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,1,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,3,1

In [66]:
#double up records in 'am' using lambda fxn
f = lambda x: x*2
cars['am']= cars['am'].apply(f)
cars

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,2,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,2,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,2,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,2,3,1
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,2,3,1
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,2,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,2,4,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,2,4,4
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,2,4,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,2,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,2,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,2,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,2,5,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,2,5,6
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,2,4,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,2,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1

# Sorting

In [67]:
#sorting cyl column ascending order
cars.sort_values(by='cyl')

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,2,4,1
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,2,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,2,4,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,2,5,2
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,2,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,2,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,2,5,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,2,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,2,4,2
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,2,4,4
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,2,3,1
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,2,4,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,2,5,6
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,2,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,2,4,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,2,3,1
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2

In [68]:
#sort cyl in descending order
cars.sort_values(by='cyl', ascending=False)

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,2,4,4
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,2,4,4
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,2,3,1
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,2,4,4
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,2,3,1
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,2,4,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,2,5,6
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,2,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,2,4,1
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,2,4,2
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,2,4,1
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,2,4,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,2,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,2,5,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,2,5,2
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,2,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1

In [71]:
cars.sort_values(by='mpg')

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,2,4,4
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,2,3,1
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,2,4,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,2,5,6
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,2,4,4
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,2,4,4
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,2,4,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,2,3,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,2,4,1
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,2,4,2
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,2,4,2
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,2,5,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,2,4,1
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,2,5,2
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,2,4,1
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,2,4,1
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1

In [72]:
#sort mpg column by descending order
cars.sort_values(by='mpg', ascending=False)

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
42,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
22,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,2,4,1
20,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,2,4,1
40,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.42,1,2,4,1
31,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,2,5,2
21,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
41,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,4,2
29,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.05,1,2,4,1
30,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,2,5,2
8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,2,4,2
9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,2,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,2,4,1
23,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1
43,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,2,3,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,2,3,1
35,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,2,4,2
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,2,4,4
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,2,4,4
33,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,2,5,6
10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,2,4,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2
6,Valiant,18.1,6,225.0,105,2.76,3.460,17.02,1,2,3,1
11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,2,4,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4

# Filtering

In [73]:
#filter records with more than 6 cylinders
cars['cyl'] >= 6

0      True
1      True
2     False
3      True
4      True
5      True
6      True
7      True
8     False
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20    False
21    False
22    False
23    False
24     True
25     True
26     True
27     True
28     True
29    False
30    False
31    False
32     True
33     True
34     True
35    False
36     True
37     True
38     True
39     True
40    False
41    False
42    False
43    False
Name: cyl, dtype: bool

In [75]:
#filter records with more than 6 cylinders
filter1 = cars['cyl'] > 6
#apply filter to dataframe
filtered_new = cars[filter1]
#view filtered dataframe
filtered_new

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4

In [76]:
cars[(cars["cyl"] > 6) & (cars["hp"] > 300)]

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
34,Maserati Bora,15.0,8,301.0,335,3.54,3.57,14.6,0,2,5,8

In [77]:
new=cars[cars['cyl'] > 6]
new

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
4,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2
7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4
12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3
13,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
14,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3
15,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3
16,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
17,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
18,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
19,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4
24,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
25,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2
26,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
27,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4
28,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2
32,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4
34,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8
36,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2
37,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4
38,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4
39,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4

In [78]:
#filter records with more than 6 cyl and hp more than 300
filter2 = (cars["cyl"] > 6) & (cars["hp"] > 300)
#apply filter to dataframe
filtered_review = cars[filter2]
#display filtered data
filtered_review

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
34,Maserati Bora,15.0,8,301.0,335,3.54,3.57,14.6,0,2,5,8

In [80]:
#filter records with more than 6 cyl and mpg greater than 20
filter3 = (cars["cyl"] > 6) & (cars["mpg"] > 20)
filtered_review1 = cars[filter2]
filtered_review1

,model,mpg,cyl,disp,hp,drat,weight,qsec,vs,am,gear,carb
34,Maserati Bora,15.0,8,301.0,335,3.54,3.57,14.6,0,2,5,8